@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:"Montserrat Thin";
	font-style:normal;
	font-weight:100;
	src : url("../../font/Montserrat-Bold.ttf");
}
@font-face {
	font-family:"Montserrat Thin";
	font-style:normal;
	font-weight:100;
	src : url("../../font/Montserrat-Regular.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Quadro-de-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Quadro-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Montserrat Thin", sans-serif;
	font-size:655.9px;
	font-variation-settings:"wght" 700;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Montserrat Thin", sans-serif;
	font-size:655.9px;
	font-variation-settings:"wght" 400;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1920.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer001 {
	-ms-transform:translate(223.000px,593.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(223.000px,593.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:882.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(223.000px,593.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(223.000px,593.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:634.00px;
}
#_idContainer002 {
	-ms-transform:translate(398.146px,172.690px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(398.146px,172.690px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(398.146px,172.690px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(398.146px,172.690px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.57px;
}
#_idContainer003 {
	-ms-transform:translate(422.787px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(422.787px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(422.787px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(422.787px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:21.73px;
}
#_idContainer004 {
	-ms-transform:translate(446.108px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(446.108px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(446.108px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(446.108px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.42px;
}
#_idContainer005 {
	-ms-transform:translate(461.064px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(461.064px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(461.064px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(461.064px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:21.37px;
}
#_idContainer006 {
	-ms-transform:translate(483.991px,171.828px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(483.991px,171.828px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(483.991px,171.828px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(483.991px,171.828px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.90px;
}
#_idContainer007 {
	-ms-transform:translate(512.177px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(512.177px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(512.177px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(512.177px,172.790px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.80px;
}
#_idContainer008 {
	-ms-transform:translate(535.295px,179.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(535.295px,179.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(535.295px,179.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(535.295px,179.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.62px;
}
#_idContainer009 {
	-ms-transform:translate(561.605px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(561.605px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(561.605px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(561.605px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:22.43px;
}
#_idContainer010 {
	-ms-transform:translate(586.751px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(586.751px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(586.751px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(586.751px,179.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:22.43px;
}
#_idContainer011 {
	-ms-transform:translate(612.540px,172.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(612.540px,172.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(612.540px,172.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(612.540px,172.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.13px;
}
#_idContainer012 {
	-ms-transform:translate(622.405px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(622.405px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(622.405px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(622.405px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.86px;
}
#_idContainer013 {
	-ms-transform:translate(645.697px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(645.697px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(645.697px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(645.697px,179.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:22.30px;
}
#_idContainer014 {
	-ms-transform:translate(335.125px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(335.125px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(335.125px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(335.125px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.00px;
}
#_idContainer015 {
	-ms-transform:translate(341.099px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(341.099px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(341.099px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(341.099px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.02px;
}
#_idContainer016 {
	-ms-transform:translate(362.124px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(362.124px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(362.124px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(362.124px,163.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.00px;
}
#_idContainer017 {
	-ms-transform:translate(362.130px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(362.130px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(362.130px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(362.130px,169.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.02px;
}
#_idContainer018 {
	-ms-transform:translate(582.514px,220.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(582.514px,220.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(582.514px,220.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(582.514px,220.325px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.53px;
}
#_idContainer019 {
	-ms-transform:translate(655.596px,220.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(655.596px,220.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(655.596px,220.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(655.596px,220.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.53px;
}
#_idContainer020 {
	-ms-transform:translate(597.544px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(597.544px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(597.544px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(597.544px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.23px;
}
#_idContainer021 {
	-ms-transform:translate(636.139px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(636.139px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(636.139px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(636.139px,215.546px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.24px;
}
#_idContainer022 {
	-ms-transform:translate(614.037px,220.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(614.037px,220.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(614.037px,220.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(614.037px,220.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.26px;
}
#_idContainer023 {
	-ms-transform:translate(603.302px,216.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(603.302px,216.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(603.302px,216.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(603.302px,216.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.52px;
}
#_idContainer024 {
	-ms-transform:translate(562.173px,216.767px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(562.173px,216.767px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(562.173px,216.767px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(562.173px,216.767px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.21px;
}
#_idContainer025 {
	-ms-transform:translate(614.817px,215.366px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(614.817px,215.366px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(614.817px,215.366px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(614.817px,215.366px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.85px;
}
#_idContainer026 {
	-ms-transform:translate(621.428px,220.111px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(621.428px,220.111px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(621.428px,220.111px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(621.428px,220.111px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.34px;
}
#_idContainer027 {
	-ms-transform:translate(641.869px,220.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(641.869px,220.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(641.869px,220.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(641.869px,220.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.95px;
}
#_idContainer028 {
	-ms-transform:translate(187.945px,47.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.945px,47.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.945px,47.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.945px,47.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:31.09px;
}
#_idContainer029 {
	-ms-transform:translate(239.167px,47.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(239.167px,47.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(239.167px,47.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(239.167px,47.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.07px;
}
#_idContainer030 {
	-ms-transform:translate(302.187px,47.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(302.187px,47.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(302.187px,47.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(302.187px,47.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.22px;
}
#_idContainer031 {
	-ms-transform:translate(358.209px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(358.209px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(358.209px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(358.209px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.77px;
}
#_idContainer032 {
	-ms-transform:translate(425.077px,46.966px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(425.077px,46.966px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(425.077px,46.966px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(425.077px,46.966px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.04px;
}
#_idContainer033 {
	-ms-transform:translate(568.227px,35.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(568.227px,35.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(568.227px,35.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(568.227px,35.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.95px;
}
#_idContainer034 {
	-ms-transform:translate(554.107px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(554.107px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(554.107px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(554.107px,46.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.77px;
}
#_idContainer035 {
	-ms-transform:translate(621.809px,46.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(621.809px,46.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(621.809px,46.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(621.809px,46.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:46.19px;
}
#_idContainer036 {
	-ms-transform:translate(482.213px,46.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(482.213px,46.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(482.213px,46.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(482.213px,46.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:50.50px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:27.00px;
}
#_idContainer038 {
	-ms-transform:translate(37.254px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(37.254px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:92.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.254px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(37.254px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:93.24px;
}
#_idContainer039 {
	-ms-transform:translate(151.203px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(151.203px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.203px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(151.203px,0.230px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.72px;
}
#_idContainer040 {
	-ms-transform:translate(151.204px,26.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(151.204px,26.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.204px,26.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(151.204px,26.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.72px;
}
#_idContainer041 {
	-ms-transform:translate(205.999px,268.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(205.999px,268.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:239.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(205.999px,268.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(205.999px,268.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer042 {
	-ms-transform:translate(-241.664px,1467.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-241.664px,1467.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:814.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-241.664px,1467.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-241.664px,1467.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1115.99px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
